{% load static %}

<header>
	<div class="navbar">
		<div class="brand">
			<div class="brand-container">
				<a href="/home">
					<img
						src="../../static/assets/images/logo.svg"
						alt="Brand Icon"
						class="brand-icon"
					/>
					<h1 class="brand-title">Task Flow</h1>
				</a>
			</div>
		</div>
		<ul class="links">
			<li class="link"><a href="/home">Home</a></li>
			<li class="link"><a href="/services">Services</a></li>
			<li class="link"><a href="/blog">Blog</a></li>
			<li class="link"><a href="/contact">Contact</a></li>
		</ul>
		<div class="user-nav">
			<a href="/login" class="login">Login</a>
			<a href="/signup" class="sign-up">Sign up</a>
		</div>
	</div>
</header>
